@import url("normalizer.css");

body {
	font-family: "DM Sans", sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

h1 {
	color: #901c1c;
	margin-right: 100px;
}

.logo {
	height: 50px;
	margin-left: 135px;
}

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin: 100px 0;
}

.photographer_section article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer_section article a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer_section article h2 {
	color: #d3573c;
	font-size: 43px;
}

.photographer_section article img {
	height: 275px;
	width: 275px;
	border-radius: 50%;
}

.photographer_section article p {
	font-size: 1.2rem;
	text-align: center;
}

.location {
	color: #901c1c;
}

.price {
	color: #757575;
}
