#carousel_modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	height: 100%;
	width: 100%;
	z-index: 4;
	background-color: white;
}

.carousel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
  max-width: 100%;
  max-height: 80vh;
  column-gap: 20px;
}

.carousel button {
	font-size: 40px;
	color: #901c1c;
	background-color: transparent;
	border: none;
}

.card-container {
	max-height: inherit;
}

.card {
	max-height: inherit;
}

.card img,
.card video {
	max-height: inherit;
}

.carousel #close {
	position: absolute;
	right: 16px;
	top: 10px;
}

.carousel figcaption {
	padding: 10px 0;
	font-weight: bold;
	font-size: 28px;
	color: #901c1c;
}

@media (max-width: 425px) {
  .carousel button {
    font-size: 30px;
  }

  .carousel {
    column-gap: 5px;
  }
}
