#carousel_modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	height: 100%;
	width: 100%;
	z-index: 4;
	background-color: white;
}

.carousel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
}

.carousel button {
	width: 80px;
	font-size: 40px;
	color: #901c1c;
	background-color: transparent;
	border: none;
}

.card-container {
	height: 80vh;
	width: max-content;
}

.card {
	display: block;
	height: 100%;
}

.card img,
.card video {
	height: 100%;
}

.carousel #close {
	position: absolute;
	right: 15px;
	top: 10px;
}

.carousel figcaption {
	padding: 10px 0;
	font-weight: bold;
	font-size: 28px;
	color: #901c1c;
}
