.custom-select input {
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.3rem;
	height: 3.2rem;
	padding: 1rem;
}

.custom-select input[type="radio"]:checked + label {
	display: none;
}

label[for="select-button"] {
	display: inline-block;
	font-size: 24px;
}

.custom-select {
	display: inline-block;
}

.select-button {
	display: flex;
	padding: 15px 15px;
	justify-content: space-between;
	border-radius: 0.3rem;
	width: 200px;
	background-color: #901c1c;
	color: white;
	border: none;
	position: relative;
	cursor: pointer;
	font-size: 24px;
}

.select-button.active {
	border-radius: 0.3rem 0.3rem 0 0;
}

.select-button .fas,
.select-button .far {
	position: absolute;
	right: 15px;
	top: calc(50%);
	transform: translateY(-50%);
	pointer-events: none;
}

.select-button.active .fas,
.select-button.active .far {
	transform: translateY(-50%) rotate(180deg);
}

.dropdown {
	position: absolute;
	width: 100%;
	background-color: #901c1c;
	color: white;
	border-radius: 0 0 0.3rem 0.3rem;
	overflow: hidden;
	z-index: 10;
	font-size: 24px;
}

.option {
	display: none;
}

.select-item {
	display: block;
	padding: 1rem;
	font-weight: 400;
	cursor: pointer;
}

.select-item:focus-visible {
	outline: none;
	background-color: #db8876;
}

.select-item::after {
	content: "";
	background-color: white;
	height: 1px;
	width: 85%;
	position: absolute;
	top: 0;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
}

.select-item:hover {
	background-color: #db8876;
}

.hidden {
	display: none;
}
